body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6ecf0;
}

.navbar {
    background-color: darkmagenta;
    width: 100%;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
label {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: hidden;
    color: coral;
    background-color: darkblue;
}

.mainbody {

    width: 1200px;
    height: auto;
    margin: 10px auto 10px auto;
    overflow: hidden;
}

.col1 {
    width: 23%;
    float: left;
    height: 300px;
    background-color: blue;
}

.col2 {
    width: 50%;
    margin-left: 2%;
    float: left;
    height: auto;
    background-color: brown;
}

.col3 {
    width: 23%;
    float: right;
    height: 300px;
    background-color: purple;
}


img {
    width: 70px;
    height: 70px;

    margin-top: 15px;
    margin-left: 35%;
}

.sondage1 {
    background-color: white;
    color: blue;
}