/* css here */


  
  p.question {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #2e2e2e;
    margin-bottom: 0px;
  }
  
  h2.quizHeader {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    margin: 24px 0 12px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #a2a2a2;
  }
  
  h2.quizScore {
    font-family: Arial, sans-serif;
    font-size: 25px;
  }
  
  div.quizAnswers {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #424242;
    padding: 4px 0 4px 0;
  }
  
  label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #424242;
    vertical-align: top;
  }
  
  input.answer[type="radio"] {
    margin-bottom: 10px;
  }
  
  input.quizSubmit[type="submit"] {
     -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-property: color, background-color;
    -webkit-transition-timing-function: ease, ease; 
     box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
    color: #ffffff;
    background-color: #c30b0a;
    margin: 0;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    height: 35px;
    width: 85px;
    border: 1px solid #5e5e5e;
    border-radius: 5px; 
  }
  
  input.quizSubmit[type="submit"]:hover {
    color: #ffffff;
    background: #680f11;
    text-decoration: none;
  }
  
  table {
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px;
  } 
  

 .submitter {
    width: 85px;
  }
  
  .hide {
    display: none;
  } 
  
  /*SFS light red = #c30b0a;
  SFS dark red = #9f2026;



/* test bb */



  body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #e6ecf0;  */
    background-image: url('../img/orage.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #1864ab;
    width: 100%;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.searchSondage {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#IdUser {
    color: red;
}

input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

input[type=search]:focus {
    background-color: lightblue;
}

button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: hidden;
    color: black;
    /* background-color: darkblue; */
    /* background-color: whitesmoke; */
    background-image: url('../img/orage.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.mainbody {

    width: 1200px;
    height: auto;
    margin: 10px auto 10px auto;
    overflow: hidden;
}



.col1 {
    width: 23%;
    float: left;
    height: 300px;
    background-color: #4dabf7;
}

.col2 {
    width: 50%;
    margin-left: 2%;
    float: left;
    height: auto;
    background-color: #e7f5ff;
}

.col3 {
    width: 23%;
    float: right;
    height: 300px;
    background-color: #4dabf7;
}


img {
    width: 70px;
    height: 70px;

    margin-top: 15px;
    margin-left: 35%;
}

.sondage1 {
    background-color: #a5d8ff;
    color: black;
}


a:hover {
    background-color: #a5d8ff;
}

.tt {
    display: block;
    color: black;

    text-decoration: none;

}

.tt:hover {
    background-color: #a5d8ff;
}

.titlecol3 {
    text-align: center;
}